@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Jost:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: #051622;
  --green2: #7bd9d3;
  --green1: #1ba098;
  --putihbiru: #e6f2fa;
  --hitammuda: #517187;
}

* {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Navbar */
.navbar {
  padding: 1.2em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--main-color);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo {
  font-size: 1.2em;
  color: var(--green1);
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar .container .logo span {
  color: var(--green2);
}

.navbar .container .hamburger {
  cursor: pointer;
  display: block;
}

.navbar .container .hamburger .bar {
  display: block;
  width: 22px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--putihbiru);
}

.navbar .container .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar .container .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar .container .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar .container nav {
  position: fixed;
  display: flex;
  right: -100%;
  top: 65px;
  gap: 0;
  flex-direction: column;
  background-color: #082436;
  width: 80%;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  z-index: 9999;
}

.navbar .container nav ul li {
  margin: 50px;
}

.navbar .container nav ul li a {
  color: var(--putihbiru);
}

.navbar .container nav.active {
  right: 0;
}

/* .navbar .container .cta-menu {
  font-size: 1.2rem;
  color: var(--putihbiru);
  text-align: center;
  display: inline-block;
} */

.scroll-navbar {
  background-color: #082436;
}

/* Main-conten */
section {
  width: 100%;
  padding: 5em 2em;
  transition: all 0.3s ease-in-out;
}

/* Home */
.home {
  /* background-color: var(--putihbiru); */
  margin-top: 4em;
}

.home .container {
  width: 100%;
}

.home .container .home-img {
  text-align: center;
}

.home .container .home-img img {
  width: 70%;
  transition: all 0.3s ease-in-out;
}

.home .container .home-text {
  margin-top: 2.4em;
}

.home .container .home-text h1 {
  font-size: 2.5em;
  color: var(--putihbiru);
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.home .container .home-text h1 span {
  color: var(--green1);
}

.home .container .home-text h3 {
  color: var(--putihbiru);
  margin-top: 0.2em;
  font-size: 1.2em;
}

.home .container .home-text p {
  color: var(--putihbiru);
  font-size: 1em;
  margin-top: 1.5em;
}

.home .container .home-text a {
  display: inline-block;
  color: var(--putihbiru);
  margin-top: 3em;
  padding: 1em 1.4em;
  background-color: var(--green1);
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.home .container .home-text a:hover {
  background-color: var(--green2);
  color: var(--main-color);
}

/* End Home */

.about .container h2 {
  text-align: center;
  color: var(--putihbiru);
  font-size: 1.8em;
}

.about .container .about-information h4 {
  color: var(--putihbiru);
  margin-top: 4em;
  letter-spacing: 1px;
  margin-bottom: 1.8em;
  font-size: 1.2em;
  transition: all 0.3s ease-in;
}

.about .container .about-information p {
  color: var(--putihbiru);
  margin-bottom: 1em;
  font-size: 0.9em;
}

.about .container .about-experience {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.about .container .about-experience .experience-card {
  border: 2px solid var(--green1);
  width: 100%;
  height: 120px;
  padding: 10px 12px;
  background-color: var(--main-color);
  color: var(--green1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .container .about-experience .experience-card h3 {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}

.about .container .about-experience .experience-card p {
  font-size: 1.1em;
}

.about .container .skill {
  margin-top: 3em;
}

.about .container .skill h3 {
  color: var(--putihbiru);
  text-align: center;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}

.about .container .skill .progress-bars {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5rem;
  margin-top: 2em;
}

.about .container .skill .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}

.about .container .skill .progress-bars .progress-bar p {
  color: var(--putihbiru);
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.about .container .skill .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}

.about .container .skill .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--hitammuda);
  position: relative;
  margin-left: 1rem;
}

.about .container .skill .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--green1);
  transition: all 0.4s ease-in-out;
}

.about .container .skill .progress-bars .progress-bar .progress-con .progress span.html {
  width: 80%;
}

.about .container .skill .progress-bars .progress-bar .progress-con .progress span.javascript {
  width: 80%;
}

.about .container .skill .progress-bars .progress-bar .progress-con .progress span.node {
  width: 60%;
}

.about .container .skill .progress-bars .progress-bar .progress-con .progress span.css {
  width: 70%;
}

.about .container .skill .progress-bars .progress-bar .progress-con .progress span.bootstrap {
  width: 90%;
}

.about .container .skill .progress-bars .progress-bar .progress-con .progress span.php {
  width: 80%;
}

.about .container .experience {
  margin-top: 3em;
}

.about .container .experience h3 {
  color: var(--putihbiru);
  text-align: center;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}

.about .container .experience .experience-container {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.about .container .experience .experience-container .logo-experience i {
  display: inline-block;
  padding: 10px;
  border-radius: 100%;
  background-color: var(--green1);
  font-size: 1.2em;
  color: var(--putihbiru);
  margin-right: 1em;
}

.about .container .experience .experience-container .experience-card {
  color: var(--putihbiru);
}

.about .container .experience .experience-container .experience-card .year {
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 0.4em;
}

.about .container .experience .experience-container .experience-card h5 {
  font-size: 1.1em;
  margin-bottom: 1em;
}

.about .container .experience .experience-container .experience-card .text {
  font-size: 0.8em;
  letter-spacing: 1px;
}

/* About */

/* Myportfolio */
.portfolio .container h2 {
  text-align: center;
  color: var(--putihbiru);
  font-size: 1.8em;
}

.portfolio .container .portfolio-filter {
  margin: 2em 0;
  color: var(--putihbiru);
  text-align: center;
}

.portfolio .container .portfolio-filter .portfolio-item {
  cursor: pointer;
  padding: 0.25em 0.75em;
  font-weight: 400;
  border-radius: 0.5em;
}

.portfolio .container .portfolio-filter .active-portfolio {
  background-color: var(--green1);
}

.portfolio .container .portfolio-container {
  margin-top: 5em;
}

.portfolio .container .portfolio-container .portfolio-card {
  background-color: var(--green1);
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 2em;
  transition: all 0.3s ease-in-out;
}

.portfolio .container .portfolio-container .portfolio-card img {
  border-radius: 0.5em;
}

.portfolio .container .portfolio-container .portfolio-card h3 {
  margin: 1em 0 0.5em;
  font-size: 1.2em;
  color: var(--putihbiru);
}

.portfolio .container .portfolio-container .portfolio-card .portfolio-button {
  display: flex;
  align-items: center;
  gap: 1em;
}

.portfolio .container .portfolio-container .portfolio-card .portfolio-button i {
  font-size: 1.3em;
  color: var(--putihbiru);
  transition: 0.3s;
}

.portfolio .container .portfolio-container .portfolio-card .portfolio-button:hover i {
  transform: translateX(0.25em);
}

.portfolio .container .portfolio-container .portfolio-card .portfolio-button h4 {
  color: var(--putihbiru);
  font-size: 0.8em;
}

.portfolio .container .portfolio-container .portfolio-card .portfolio-item-details {
  display: none;
}

/* End Myportfolio */

/* Contact */
.contact h2 {
  font-size: 1.8em;
  color: var(--putihbiru);
  text-align: center;
}

.contact .container .contact-social {
  margin-top: 3em;
}

.contact .container .contact-social .social-link {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 0 0 1.6em 0;
}

.contact .container .contact-social .social-link a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--green1);
  text-align: center;
  font-size: 1em;
  color: var(--putihbiru);
}

.contact .container .contact-social .social-link .social-text {
  color: var(--putihbiru);
}

.contact .container .contact-social .social-link .social-text h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.contact .container .contact-social .social-link .social-text p {
  font-size: 0.8em;
  color: var(--hitammuda);
}

.contact .container .contact-suggest {
  margin-top: 2em;
}

.contact .container .contact-suggest form {
  display: flex;
  flex-direction: column;
}

.contact .container .contact-suggest form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.contact .container .contact-suggest form .input-group label {
  font-size: 1.1em;
  color: var(--green1);
  margin-bottom: 0.3em;
}

.contact .container .contact-suggest form .input-group input {
  display: inline-block;
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid var(--green1);
  background-color: var(--main-color);
  color: var(--putihbiru);
  outline-style: none;
}

.contact .container .contact-suggest form button {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  background-color: var(--green1);
  color: var(--putihbiru);
  font-size: 1.1em;
  margin-top: 1em;
}

.contact .container .contact-suggest form .input-group textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid var(--green1);
  background-color: var(--main-color);
  color: var(--putihbiru);
  outline-style: none;
}

footer {
  padding: 2em 2em;
  width: 100%;
}

footer .footer-bottom {
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
  color: var(--putihbiru);
}
/* End Contact */

/* Start size 571 */
@media screen and (min-width: 571px) {
  .home .container .home-text h1 {
    font-size: 2.8em;
    transition: all 0.3s ease-in-out;
  }
  .home .container .home-img img {
    width: 60%;
    transition: all 0.3s ease-in-out;
  }
  .home .container .home-text p {
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
  }
  .about .container .about-information p {
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
  }
  .about .container .about-information h4 {
    font-size: 1.3em;
  }
  .about .container .experience h3 {
    font-size: 1.3em;
  }
  .about .container .skill h3 {
    font-size: 1.3em;
  }
  .portfolio .container .portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio .container .portfolio-container .portfolio-card {
    width: 70%;
    transition: all 0.3s ease-in-out;
  }
}
/* End size 571 */

/* Start size tablet */
@media screen and (min-width: 768px) {
  .about .container .about-information p {
    font-size: 1.3em;
    transition: all 0.3s ease-in-out;
  }
  .about .container .about-experience .experience-card {
    width: 40%;
  }
  .portfolio .container .portfolio-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
  .portfolio .container .portfolio-container .portfolio-card {
    width: 45%;
  }
  .home .container .home-img img {
    transition: all 0.3s ease-in-out;
  }
}
/* End size tablet */

/* Start size desktop */
@media screen and (min-width: 992px) {
  .home .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .home .container .home-img img {
    width: 100%;
  }
  .home .container .home-text h1 {
    font-size: 3.1em;
  }
  .navbar .container .hamburger {
    display: none;
  }
  .navbar .container nav {
    /* display: flex; */
    right: 0;
    top: -24px;
    gap: 0;
    background-color: transparent;
    width: 57%;
  }
  .navbar .container nav ul {
    display: flex;
  }
}
/* End size desktop */

/* Start size 1056 px */
@media screen and (min-width: 1056px) {
  .navbar .container nav {
    width: 55%;
  }
}
/* End size 1056 px */

/* Start size 1116 px */
@media screen and (min-width: 1116px) {
  .navbar .container nav {
    width: 52%;
  }
}
/* End size 1116 px */

/* Start size 1214 px */
@media screen and (min-width: 1214px) {
  .navbar .container nav {
    width: 48%;
  }
  section {
    padding: 4em 7em;
  }
}
/* End size 1214 px */

/* Start size 1297 px */
@media screen and (min-width: 1297px) {
  .navbar .container nav {
    width: 45%;
  }
}
/* End size 1297 px */

/* Start size 1388 px */
@media screen and (min-width: 1388px) {
  .navbar .container nav {
    width: 43%;
  }
}
/* End size 1388 px */

/* Start size 1488 px */
@media screen and (min-width: 1488px) {
  .navbar .container nav {
    width: 40%;
  }
}
/* End size 1488 px */
