* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    quotes: none;
    text-decoration: unset;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  

body{
    background-color: #F6F6F6;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

h2{
    font-size: 25px;
    font-family: 'Lobster', cursive;
    color: #707070;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}


ul li a{
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    color: #707070;
    display: flex;
    justify-content: start;
}

ul li a:hover{
    color: #010101;
}

.active{
    text-decoration: underline;
}


/* Menu hambuger */
.menu-toggler{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
}

.menu-toggler input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

.menu-toggler span{
    display: block;
    background-color: black;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    z-index: 999;
}

.menu-toggler span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggler span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggler input:checked ~ span:nth-child(2){
    background-color: #707070;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggler input:checked ~ span:nth-child(4){
    background-color: #707070;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggler input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

/* Akhir nav */

/* Section */
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 530px;
    /* margin-bottom: 40px; */
    /* background-color: rosybrown; */
}

.atas{
    margin-bottom: 50px;
    margin-top: 50px;
}

.atas h1{
    font-size: 30px;
    color: #2E263A;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

.bawah{
    display: flex;
    justify-content: space-between;
}

.icon{
    color: #707070;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

.icon i{
    margin-right: 20px;
    font-size: 25px;
}

.saran{
    max-width: 700px;
    margin-right: 50px;
}

.icon, .saran{
    flex: 1;
}

.saran .text-box{
    background-color: #2E263A;
    color: #fff;
    border: none;
    max-width: 337px;
    max-height: 40px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.saran textarea{
    background: #2E263A;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.saran .send-btn{
    float: right;
    background: royalblue;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.saran .send-btn:hover{
    background: #0582E3;
}
/* Akhir Section */

/* Footer */
footer{
    padding: 20px;
    text-align: center;
    /* margin-top: 50px; */
    /* background-color: red; */
    /* height: 70px; */
}

footer h4{
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    color: #707070;
}

/* Responsive*/

/* Ukuran Tablet */
@media screen and (max-width:768px){
    /* Navbar */
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        width: 60%;
    }
    
    section{
       /* background-color: salmon; */
       height: 70%;
    }

    .bawah{
        flex-direction: column;
    }

    .icon{
        padding-left: 0;
        margin-top: 20px;
        font-size: 15px;
    }


    .atas h1{
        font-size: 25px;
    }

    /* footer{
        background-color: blue;
    } */
    

}

/* Ukuran smartphone */
@media screen and (max-width: 576px){
    body{
        overflow-x: hidden;
    }
    .menu-toggler{
        display: flex;
    }
    nav ul{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* z-index: 9999; */
        z-index: 1;
        background-color: #F6F6F6;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    .menu-toggler input{
        z-index: 999;
    }

    .menu-toggler span{
        z-index: 999;
    }

    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }

    section{
        height: 800px;
    }

    footer h4{
        font-size: 12px;
    }

}




























